/* Archivo: estilos.css */

/* Estilos Generales */
body {
    background-color: #19123B;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
}

.card {
    border: none;
    border-top: 5px solid rgb(176, 106, 252);
    background: #212042;
    color: #57557A;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

p {
    font-weight: 600;
    font-size: 15px;
    color: #8D8BBD;
    letter-spacing: 1px;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2A284D;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
    font-size: 20px;
}

.social-btn:hover {
    background: #363463;
    transform: translateY(-2px);
    cursor: pointer;
}

.fa-twitter {
    color: #56ABEC;
}

.fa-facebook {
    color: #1775F1;
}

.fa-google {
    color: #CB5048;
}

.division {
    display: flex;
    align-items: center;
    text-align: center;
    color: #57557A;
    margin: 30px 0 20px 0;
}

.division::before,
.division::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #57557A;
}

.division span {
    padding: 0 10px;
    font-weight: 600;
    font-size: 12px;
    white-space: nowrap;
}

.myform {
    padding: 0 10px;
}

.form-control {
    background: #2A284D;
    border: 1px solid #3e3c6e;
    color: #fff;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    /* Asegura que ocupe el ancho */
    box-sizing: border-box;
    /* Evita desbordamientos */
    padding: 10px;
}

.form-control::placeholder {
    color: #8D8BBD;
    opacity: 1;
}

.form-control:focus {
    background: #2A284D;
    border-color: rgb(176, 106, 252);
    outline: none;
    color: #fff;
}

.form-control.is-invalid {
    border-color: #ff4d4d;
    margin-bottom: 5px;
}

.error-text {
    color: #ff4d4d;
    font-size: 12px;
    margin-bottom: 15px;
    display: none;
    text-align: left;
    padding-left: 2px;
}

.bn {
    text-decoration: none;
    color: #8D8BBD;
    font-size: 14px;
    transition: 0.3s;
}

.bn:hover {
    color: #fff;
}

.form-check-input {
    background-color: #2A284D;
    border-color: #57557A;
}

.form-check-label {
    font-size: 14px;
    color: #8D8BBD;
}

.btn-primary {
    background: linear-gradient(135deg, rgba(176, 106, 252, 1) 39%, rgba(116, 17, 255, 1) 101%);
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.btn-primary small {
    font-size: 16px;
}

@media(max-width: 767px) {
    .forgot-pass-container {
        text-align: center;
        margin-top: 10px;
    }
}

@media(min-width: 767px) {
    .forgot-pass-container {
        text-align: right;
    }
}